body {
  font-family: "Outfit", sans-serif;
  background-color: black;
}

#time {
  align-items: center;
  color: white;
  display: flex;
  font-size: 7vw;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 15vh;
}

@media screen and (max-width: 1024px) {
  #time {
    font-size: 7vw;
    margin-top: 20rem;
  }
}

@media screen and (max-width: 600px) {
  #time {
    font-size: 5vw;
    margin-top: 16rem;
  }
}
